.father {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Rows gap */
  row-gap: 10px;
  /* Columns gap */ 
  column-gap: 20px;

  /* flex-flow: flex-direction / flex-wrap */
  flex-flow: row wrap;

  /* When we use Multi Line Container */ 
  align-content: center;
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;

  font-size: 36px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}